<div class="relative w-full  h-240 sm:h-120 md:h-90 bg-cover bg-center" style="background-image: url('images/banner-color.png')"
  [ngClass]="{'mt-16 lg:mt-32': withMargin}"
>
  <!-- Overlay de color brand con opacidad -->
  <div class="absolute inset-0 bg-brand-500/95"></div>

  <!-- Contenido encima del overlay -->
  <div class="absolute inset-0 flex items-center justify-center">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8 text-white text-center mx-auto w-11/12 md:9/12 lg:w-8/12">
      <div class="flex flex-col items-center">
        <div class="border-2 border-lightest-500 hover:bg-brand-800 text-lightest-500  rounded-full w-20 h-20 flex items-center justify-center mb-4">
          <mat-icon class="text-4xl w-8 h-8">verified_user</mat-icon>
        </div>
        <span class="text-7xl font-bold">450</span>
        <span class="text-2xl font-bold">Business Clients</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="border-2 border-lightest-500 hover:bg-brand-800 text-lightest-500  rounded-full w-20 h-20 flex items-center justify-center mb-4">
          <mat-icon class="text-4xl w-8 h-8">emoji_events</mat-icon>
        </div>
        <span class="text-7xl font-bold">4500</span>
        <span class="text-2xl font-bold">Premios</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="border-2 border-lightest-500 hover:bg-brand-800 text-lightest-500  rounded-full w-20 h-20 flex items-center justify-center mb-4">
          <mat-icon class="text-4xl w-8 h-8">groups</mat-icon>
        </div>
        <span class="text-7xl font-bold">7</span>
        <span class="text-2xl font-bold">Clientes</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="border-2 border-lightest-500 hover:bg-brand-800 text-lightest-500  rounded-full w-20 h-20 flex items-center justify-center mb-4">
          <mat-icon class="text-4xl w-8 h-8">work</mat-icon>
        </div>
        <span class="text-7xl font-bold">89</span>
        <span class="text-2xl font-bold">Proyectos</span>
      </div>
    </div>
  </div>
</div>
