<div class="container mx-auto w-11/12 md:9/12 lg:w-8/12 py-1 flex flex-col justify-center items-center mt-16 lg:mt-32">
  <h2 class="text-4xl uppercase font-bold text-brand-500 mb-4">¿Por qué elegirnos?</h2>
  <p>This template is designed with a unique and simple, so that it can promote and laundry business solution.</p>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 w-full mt-8 md:mt-16">
    <div class="text-center px-4">
      <div class="p-2 bg-brand-500 hover:bg-highlight-500 rounded-full w-20 h-20 mb-8 flex items-center justify-center mx-auto">
        <mat-icon class="text-4xl text-lightest-500 w-20 h-20">payments</mat-icon>
      </div>
      <h3 class="text-xl font-bold mb-8 text-darkest-500 ">EXPERT CLEANER</h3>
      <p class="text-sm">We give our best work for this template. We make with love. Our template has a different style and layout in each one.</p>
    </div>
    <div class="text-center px-4">
      <div class="p-2 bg-brand-500 hover:bg-highlight-500 rounded-full w-20 h-20 mb-8 flex items-center justify-center mx-auto">
        <mat-icon class="text-4xl text-lightest-500 w-20 h-20">payments</mat-icon>
      </div>
      <h3 class="text-xl font-bold mb-8 text-darkest-500">AFFORDABLE PRICE</h3>
      <p class="text-sm">Our templates are really affordable. Only $21 for one beautiful template, with free updates and awesome support.</p>
    </div>
    <div class="text-center px-4">
      <div class="p-2 bg-brand-500 hover:bg-highlight-500 rounded-full w-20 h-20 mb-8 flex items-center justify-center mx-auto">
        <mat-icon class="text-4xl text-lightest-500 w-20 h-20">payments</mat-icon>
      </div>
      <h3 class="text-xl font-bold mb-8 text-darkest-500">EXPRESS DELIVERY</h3>
      <p class="text-sm">Yes, it’s right! If you purchase this template, you’ll get free access to new templates with every update.</p>
    </div>
    <div class="text-center px-4">
      <div class="p-2 bg-brand-500 hover:bg-highlight-500 rounded-full w-20 h-20 mb-8 flex items-center justify-center mx-auto">
        <mat-icon class="text-4xl text-lightest-500 w-20 h-20">payments</mat-icon>
      </div>
      <h3 class="text-xl font-bold mb-8 text-darkest-500">GUARANTEE</h3>
      <p class="text-sm">This is a Muse template. No coding needed—just drag and drop your images to customize it easily.</p>
    </div>
  </div>
</div>