<div class="container mx-auto w-11/12 md:9/12 lg:w-8/12 py-1 flex flex-col justify-center items-center mt-16 lg:mt-32">
  <div *ngIf="title && titleDescription" class="mb-8 md:mb-16">
    <h2 *ngIf="title" class="text-4xl uppercase font-bold text-brand-500 mb-4">{{ title }}</h2>
    <p *ngIf="titleDescription">{{ titleDescription }}</p>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 w-full">
    <div class="text-center px-4" *ngFor="let item of advantages">
      <div class="p-2 bg-brand-500 hover:bg-highlight-500 rounded-full w-20 h-20 mb-8 flex items-center justify-center mx-auto">
        <mat-icon class="text-4xl text-lightest-500 w-20 h-20">{{ item.icon }}</mat-icon>
      </div>
      <h3 class="text-xl font-bold mb-8 text-darkest-500">{{ item.title }}</h3>
      <p class="text-sm">{{ item.description }}</p>
    </div>
  </div>
</div>