<div class="flex flex-col items-center justify-center w-full min-w-full h-full">
  <app-home-slide class="w-full"></app-home-slide>
  <app-service-advantages class="w-full"
    title="WHY CHOOSE US?"
    titleDescription="We are a team of professionals who are passionate about what we do. We strive to provide the best service possible to our clients."
    [advantages]="advantagesList">
  </app-service-advantages>
  <app-promo-banner
    class="w-full"
    [title]="'Limited Time Offer!'"
    [btnText]="'Full price list'"
    [imageUrl]="'images/pages/pricing/promo-banner.png'"
    [alt]="'Promotional Image'"
    [reverse]="false"
  ></app-promo-banner>
  <app-our-services class="w-full"></app-our-services>
  <app-banner-color class="w-full"></app-banner-color>
  <app-testimonials class="w-full"></app-testimonials>
  <app-our-social-networks class="w-full"></app-our-social-networks>
</div>