<div class="relative w-full h-32 bg-cover bg-center " style="background-image: url('images/breadcrumb.jpg')">
  <!-- Overlay de color brand con opacidad -->
  <div class="absolute inset-0 bg-brand-500/80"></div>

  <!-- Contenido encima del overlay -->
  <div class="absolute inset-0 mx-auto w-11/12 md:9/12 lg:w-8/12 flex flex-col items-end justify-center pr-4">
    <h3 class="text-4xl font-bold text-lightest-500">About Us</h3>
    <div class="flex items-center gap-2">
      <a mat-button routerLink="/" class="text-base font-normal text-lightest-500 italic">Inicio</a>
      <span class="text-base font-normal text-lightest-500 italic">/</span>
      <span class="text-base font-normal text-lightest-500 italic">About Us</span>
    </div>
  </div>
</div>
