<nav class="!sticky top-0 z-50 w-full">
  <div class="grid grid-cols-1">
    <div class="bg-brand-500 w-full">
      <div class="container mx-auto w-11/12 md:9/12 lg:w-8/12 py-1 flex justify-between items-center">

        <div class="flex items-center justify-around gap-2 md:gap-8 xl:gap-16">
          <p class="flex justify-center items-center text-lightest-500">
            <mat-icon class="mr-2">call</mat-icon>
            Celular +331973 5079
          </p>

          <p class="flex justify-center items-center text-lightest-500">
            <mat-icon class="mr-2">email</mat-icon>
            Email: info&#64;laundryes.com
          </p>
        </div>

        <div class="flex md:p-0 xs:y-2 flex-wrap justify-center">
          <!-- Facebook -->
          <a target="_blank" href="https://www.facebook.com/" class="p-1 rounded-full group">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"
              class="fill-current text-white group-hover:text-black transition-colors duration-200">
              <path id="fb-icon"
                d="M16,32A16,16,0,0,1,9.772,1.257A16,16,0,0,1,22.228,30.743A15.9,15.9,0,0,1,16,32ZM10.078,13.955a.446.446,0,0,0-.445.446v2.678a.446.446,0,0,0,.445.446h2.666v8.756a12.411,12.411,0,0,0,2.446.243c.368,0,.742-.017,1.11-.05V17.525h3.467a.715.715,0,0,0,.707-.627l.267-2.14a.715.715,0,0,0-.707-.8H16.3V10.831a1.784,1.784,0,0,1,1.778-1.786H20.3a.446.446,0,0,0,.444-.446V5.921a.446.446,0,0,0-.444-.446H17.189a4.459,4.459,0,0,0-4.445,4.463v4.017Z" />
            </svg>
          </a>

          <!-- X -->
          <a target="_blank" href="https://x.com/IMEPLAN?mx=2" class="p-1 rounded-full group">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <path id="Subtraction_2" data-name="x-icon"
                class="transition-colors duration-300 group-hover:fill-highlight-500"
                d="M16,32A16,16,0,0,1,9.772,1.257,16,16,0,0,1,22.228,30.743,15.9,15.9,0,0,1,16,32ZM14.5,18.6h0l4.145,5.79h6.722L18.309,14.53l6.472-6.923H22.323l-5.08,5.434L13.352,7.607H6.63l6.806,9.506L6.63,24.392H9.088L14.5,18.6Zm7.4,4.01H19.561L10.094,9.388h2.344L21.9,22.611Z"
                fill="#fff" />
            </svg>
          </a>

          <!-- Instagram -->
          <a target="_blank" href="https://www.instagram.com" class="p-1 rounded-full group">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <g id="Group_10393" data-name="Group 10393" transform="translate(4144.858 -13085.358)">
                <path id="Subtraction_3" data-name="insta-icon"
                  class="transition-colors duration-300 group-hover:fill-highlight-500"
                  d="M16,32A16,16,0,0,1,9.772,1.257,16,16,0,0,1,22.228,30.742,15.9,15.9,0,0,1,16,32ZM11.659,7.607a4.056,4.056,0,0,0-4.052,4.052v8.682a4.056,4.056,0,0,0,4.052,4.051h8.682a4.056,4.056,0,0,0,4.052-4.051V11.659a4.056,4.056,0,0,0-4.052-4.052Zm8.392,15.338h-8.1a2.9,2.9,0,0,1-2.894-2.894v-8.1a2.9,2.9,0,0,1,2.894-2.894h8.1a2.9,2.9,0,0,1,2.894,2.894v8.1A2.9,2.9,0,0,1,20.051,22.945ZM16.008,11.659A4.341,4.341,0,1,0,20.349,16,4.346,4.346,0,0,0,16.008,11.659Zm0,7.235A2.894,2.894,0,1,1,18.9,16,2.9,2.9,0,0,1,16.008,18.894Z"
                  transform="translate(-4144.858 13085.358)" fill="#fff" />
                <path id="Path_23776" data-name="Path 23776"
                  class="transition-colors duration-300 group-hover:fill-highlight-500"
                  d="M1206.672,132.781a1.192,1.192,0,1,1,1.192-1.192,1.193,1.193,0,0,1-1.192,1.192"
                  transform="translate(-5330.991 12965.237)" fill="#fff" />
              </g>
            </svg>
          </a>

          <!-- TikTok -->
          <a target="_blank" href="https://www.tiktok.com" class="p-1 rounded-full group">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <path id="Subtraction_6" data-name="tiktok-icon"
                class="transition-colors duration-300 group-hover:fill-highlight-500"
                d="M16,32A16,16,0,0,1,9.772,1.257,16,16,0,0,1,22.228,30.743,15.9,15.9,0,0,1,16,32ZM13.781,14.414a5.69,5.69,0,0,0-.631.035,5.4,5.4,0,0,0-4.727,4.74,5.391,5.391,0,1,0,10.747.616V12.195a2.677,2.677,0,0,0,.851.756,6.557,6.557,0,0,0,3.274.825H23.3a.308.308,0,0,0,.307-.31V11.226a.313.313,0,0,0-.3-.308A3.949,3.949,0,0,1,19.5,7.091.315.315,0,0,0,19.18,6.8H16.625a.309.309,0,0,0-.309.308v12.6a2.678,2.678,0,0,1-.694,1.8,2.469,2.469,0,0,1-1.719.824l-.122,0a2.537,2.537,0,0,1-.365-5.048,2.6,2.6,0,0,1,.364-.026,2.561,2.561,0,0,1,.285.016l.036,0a.307.307,0,0,0,.313-.307V14.734a.306.306,0,0,0-.281-.308C14.017,14.418,13.9,14.414,13.781,14.414Z"
                fill="#fff" />
            </svg>
          </a>

        </div>

      </div>
    </div>

    <div class="bg-white shadow-md w-full h-26">
      <div class="container mx-auto w-11/12 md:9/12 lg:w-8/12 py-2 flex justify-between items-center h-full">
        <img class="h-20 w-auto cursor-pointer" src="images/logo/logo.png" alt="Fuse logo" (click)="goHome()" />

        <div class="hidden md:flex h-26">
          <a routerLink="/" routerLinkActive="text-highlight-500 bg-light-500"
            [routerLinkActiveOptions]="{ exact: true }"
            class="flex items-center h-full uppercase text-md font-semibold transition-colors duration-200 px-4 cursor-pointer text-darkest-500 hover:text-brand-500 hover:bg-light-500">
            Home
          </a>
          <a routerLink="/about" routerLinkActive="text-highlight-500 bg-light-500"
            class="flex items-center h-full uppercase text-md font-semibold transition-colors duration-200 px-4 cursor-pointer text-darkest-500 hover:text-brand-500 hover:bg-light-500">
            About
          </a>
          <a routerLink="/services" routerLinkActive="text-highlight-500 bg-light-500"
            class="flex items-center h-full uppercase text-md font-semibold transition-colors duration-200 px-4 cursor-pointer text-darkest-500 hover:text-brand-500 hover:bg-light-500">
            Services
          </a>
          <a routerLink="/contact" routerLinkActive="text-highlight-500 bg-light-500"
            class="flex items-center h-full uppercase text-md font-semibold transition-colors duration-200 px-4 cursor-pointer text-darkest-500 hover:text-brand-500 hover:bg-light-500">
            Contact
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>