<div class="w-full h-120 relative overflow-hidden">
  <img src="images/pages/home/homeslide.jpg" alt="Home Slide" class="w-full h-120 object-cover absolute" />
  
  <div class="relative z-1 container h-full mx-auto w-11/12 md:9/12 lg:w-8/12 py-1 flex justify-between items-start mt-20">
    <div class="text-white">
      <h1 class="text-4xl font-extrabold tracking-tight">WE ARE THE BEST LAUNDRY SERVICES</h1>
      <p class="text-lg tracking-tight">This template is using adobe muse making it easier to edit, add content, and
        without <br> having to use the coding in the edit.</p>
      <button
        class="mt-4 px-8 py-3 bg-lightest-500 text-brand-500 font-semibold uppercase rounded hover:text-lightest-500 hover:bg-highlight-500 transition duration-300">
        Get Started
      </button>
    </div>
  </div>

  <div class="relative md:absolute md:bottom-0 md:left-0 md:right-0 grid grid-cols-1 md:grid-cols-3 mx-auto w-11/12 md:9/12 lg:w-8/12">

    <div class="flex justify-start items-center w-full text-center md:text-start px-4 pt-8 pb-6 bg-brand-300 text-white">
      <mat-icon class="mx-0 md:mx-6 mb-2 md:mb-0 text-4xl w-11 h-11">call</mat-icon>
      <div>
        <p>Have a question? call us now</p>
        <h3 class="font-semibold !text-xl">+62 7144 3300</h3>
      </div>
    </div>

     <div class="flex justify-start items-center w-full text-center md:text-start px-4 pt-8 pb-6 bg-brand-500 text-white">
      <mat-icon class="mx-0 md:mx-6 mb-2 md:mb-0 text-4xl w-11 h-11">schedule</mat-icon>
      <div>
        <p>We are open Non-Friday</p>
        <h3 class="font-semibold !text-xl">Monday - Saturday 08:00 - 20:00</h3>
      </div>
    </div>

    <div class="flex justify-start items-center w-full text-center md:text-start px-4 pt-8 pb-6 bg-brand-700 text-white">
      <mat-icon class="mx-0 md:mx-6 mb-2 md:mb-0 text-4xl w-11 h-11">email</mat-icon>
      <div>
        <p>Need Support? Drop us an email</p>
        <h3 class="font-semibold !text-xl text-brand-500 cursor-pointer hover:text-highlight-500">info&#64;laundryes.com</h3>
      </div>
    </div>

  </div>
</div>